/*---------------------------------#
|  Bladrion.com
|  Copyright 2013 Dominik Hulla
|  Web: http://bladrion.com
|  E-Mail: dh@bladrion.com
#----------------------------------*/
@font-face { font-family: 'SSPExtraLight'; src: url('font/ExtraLight.otf'); src: url('font/ExtraLight.ttf'); }
@font-face { font-family: 'SSPLight'; src: url('font/Light.otf'); src: url('font/Light.ttf'); }
@font-face { font-family: 'SSPRegular'; src: url('font/Regular.otf'); src: url('font/Regular.ttf'); }
@font-face { font-family: 'SSPSemibold'; src: url('font/Semibold.otf'); src: url('font/Semibold.ttf'); }
